@model SignalRChat.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>HSW site</title>
</head>
<body>
@using (Html.BeginForm())
{
<div id ="LoginForm">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Login form</h4>
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                Nickname:
                @Html.EditorFor(model => model.Nickname)
                @Html.ValidationMessageFor(model => model.Nickname)<br><br>
                Password:
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default"/>
            </div>
        </div>
    </div>

    @Html.ActionLink("Register", "Register", "Login")
</div>
}

</body>
</html>